# Ignore everything
*

# But not these files
!.gitignore

# But not folders themselves, so we can whitelist
!*/
!setup*.sh
!uninstall*.sh
!.zshrc
!.hyper.js

# But not .config and its contents
!.config/
!.config/**
# Ignore specific files
.config/.git/
.config/nvim/lazy-lock.json
.config/tmux/plugins/
.config/spaceship/*.zwc
